{% extends 'base.html' %}

{% block content %}

{% for book in books %}
<div>
    <h1>{{ book.title }}</h1>
    <h3>{{ book.book_id }}</h3>
    {% if book.is_available %}
    <p style="color: green;">Available</p>
    {% else %}
    <p style="color: red;">Not available</p>
    {% endif %}
    <img src="{{ book.image.url }}">
</div>
{% endfor %}

{% for order in orders %}
<div>
    <h1>{{ order.book }}</h1>
    <h3>{{ order.dateOfIssue }}</h3>
    {% if order.is_returned %}
    <p style="color: green;">Returned</p>
    <h3>{{ order.returnDate }}</h3>
    {% else %}
    <p style="color: red;">Not returned</p>
    {% endif %}
</div>
{% endfor %}

{% endblock %}