body {
    background-color: #5FBCDA !important;
}

#sign,
#reg {
    font-size: 100px;
}

#sign_block, #add_block {
    background-color: #4995ad;
    border-radius: 12px;
    margin-top: 60px;
    padding-top: 20px;
    padding-left: 60px;
    padding-right: 60px;
}

#input {
    margin-bottom: 30px;
}

#bt {
    background-color: green;
    margin-bottom: 20px;
}

#cr {
    padding-left: 130px!important;
    padding-right: 130px!important;
    margin-top: 20px;
    font-size: 20px;
    background-color: limegreen;
}

#create-akk {
    padding-left: 100px;
    padding-right: 100px;
    margin-top: 20px;
    font-size: 20px;
}

.btn {
    background-color: #4995ad;
    color: white;
}

#tx {
    font-size: 20px;
    margin-right: 100px;
}

#reg_block {
    background-color: #4995ad;
    border-radius: 12px;
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;
}

#gr {
    margin-right: 200px;
}

#reg_btn {
    margin-left: 20px;
    padding-bottom: 10px;
}

#header,
#button-search,
#list,
#name_book,
li {
    background-color: #4995ad;
}

.header_btn,
#comment, #books {
    background-color: #0E566C;
}

#book,
#info {
    background-color: #61A6BC;
}

img {
    height: 600px;
}

#big-p {
    font-size: 30px;
}

#add_book_btn {
    background-color:limegreen
}

#scroll {
    overflow-y: scroll;
    background-color: #61A6BC;
    height: 350px;
}

/* @media (min-width:995px) {
    #sign_block,
    #reg_block {
        width: 50%;
    }
}

rating {
    width: 50px;
} */



#flex{
    /* width: ; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media (max-width: 807px) {
    #sign_block,
    #reg_block{
        width: 50% !important;
    }
    #filter_div{
        display: flex !important;
        align-items: center !important;
        justify-content: space-between !important;
        flex-direction: column !important;  
        width: 535px !important;      
        padding-left: 30px !important;
    }
    .book_img_div{
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
    }
    #create{
        display: flex;
        justify-content: center;
    }
    .header_btn, .header_div{
        width:inherit;
    }
    #filter_div div{
        width:inherit
    }
}
@media (max-width:520px) {
    #sign_block,
    #reg_block{
        width: 50% !important;
    }
    #filter_div{
        height: 126px !important;
        display: flex !important;
        align-items: center !important;
        justify-content: space-between !important;
        flex-direction: row !important;
        flex-wrap: wrap !important;  
    }
    #filter_div div{
        display: flex !important;
        align-items: flex-start !important;
        height: 57px !important;
        margin: 0 !important;
        padding: 0 !important;
        flex-direction: column !important;
        width: 329px !important;
    }
    .book_img_div{
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
    }
    #rating_filter_ul{
        display: flex !important;
        align-items: center !important;
        justify-content: space-between !important;
        width: 300px !important;
        margin-top: 17px !important;
        padding: 0 !important;
    }
    .header_btn, .header_div{
        width:inherit;
    }
}