<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- icons -->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
    
    <!-- jquery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>


    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <div class="my-site pb-3 pt-3" id='header'>
        <!--Общий блок-->
        <div class="container">
            <!--Блок с шириной 1140 px и выравнивается по центру-->
            <div class="row">
                <!--Ряд внутри которых нужно распологать колонки-->
                <div class="col-md-2">
                    <a class="btn mb-2 btn-lg" id="header_btn" href="{% url 'books' %}">Books</a>
                </div>
                <!--Колонка-->
                {% if request.user.is_authenticated %}
                    <div class="col-md-2">
                        <a class="btn mb-2 btn-lg" id="header_btn" href="{% url 'orders' %}">Orders</a>
                    </div>
                {% endif %}
                <!--Колонка-->
                <div class="col-md-2"></div>
                {% if request.user.group == 'admin' %}
                <div class="col-md-2">
                    <a class="btn mb-2 btn-lg" id="header_btn" href="{% url 'create-book' %}"><i class="far fa-plus-square"></i></a>
                </div>
                {% endif %}
                {% if request.user.is_authenticated %}
                    <div class="col-md-2"></div>
                    <div class="col-md-2">
                        <a class="btn mb-2 btn-lg" id="header_btn" href="{% url 'logout' %}">Log out</a>
                    </div>
                {% else %}
                    <div class="col-md-2">
                        <a class="btn mb-2 btn-lg" id="header_btn" href="{% url 'register' %}">Sign up</a>
                    </div>
                    <div class="col-md-2">
                        <a class="btn mb-2 btn-lg" id="header_btn" href="{% url 'login' %}">Log in</a>
                    </div>
                {% endif %}
                <!--Колонка-->
            </div>
        </div>
    </div>
    {% block content %}{% endblock %}
    
    <!-- jquery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</body>
</html>