<!DOCTYPE html>
<html lang="ru">

<head>
    <link rel="stylesheet" href="style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</head>

<body>
    <div class="my-site pb-3 pt-3" id='header'>
        <!--Общий блок-->
        <div class="container">
            <!--Блок с шириной 1140 px и выравнивается по центру-->
            <div class="row">
                <!--Ряд внутри которых нужно распологать колонки-->
                <div class="col-md-2">
                    <button type="button" class="btn mb-2 btn-lg" id="header_btn"
                        onclick="document.location='books.html'">Books</button>
                </div>
                <!--Колонка-->
                <div class="col-md-2">
                    <button type="button" class="btn mb-2 btn-lg" id="header_btn">Orders</button>
                </div>
                <!--Колонка-->
                <div class="col-md-2"></div>
                <div class="col-md-2"></div>
                <div class="col-md-2"></div>
                <div class="col-md-2">
                    <button type="button" class="btn mb-2 btn-lg" id="header_btn"
                        onclick="document.location='sign_in.html'">Log out</button>
                </div>
                <!--Колонка-->
            </div>
        </div>
    </div>
    <div class="container mt-5">
        <div class="row">
            <div class="input-group mb-4">
                <input type="text" class="form-control" placeholder="Search book" aria-label="Search book"
                    aria-describedby="button-addon2">
                <button class="btn btn-outline-secondary text-white" type="button" id="button-search">Search</button>
            </div>
        </div>
    </div>
    <div class="container mt-5">
        <div class="row pb-3" id="list">
            <div class="container mt-2">
                <div class="row pb-3 mx-auto mt-2" id="book">
                    <img src="foto/512.jpeg" class="rounded float-start mx-3 mt-3 mb-3" alt="...">
                    <div class="row ml-2 mt-3 pr-3" id="name_book">
                        <ul class="">
                            <li class="mx-auto mb-3">
                                <h3 class='text-white mt-3 ml-2'>Book: { name }</h3>
                            </li>
                            <li class="mx-auto">
                                <h3 class='text-white mt-3 ml-2'>Status: {is_available}</h3>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>