<!DOCTYPE html>
<html lang="ru">

<head>
    <link rel="stylesheet" href="style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</head>

<body class="text-white">
    <div class="d-flex justify-content-center mt-5" id="reg">Sign up</div>
    <div class="container">
        <div class="mb-3" id="reg_block">
            <form class="row g-3">
                <div class="col-md-6">
                    <label for="" class="form-label">First name</label>
                    <input type="text" class="form-control" id="">
                </div>
                <div class="col-md-6">
                    <label for="" class="form-label">Last name</label>
                    <input type="text" class="form-control" id="">
                </div>
                <div class="col-md-6">
                    <label for="" class="form-label">Select group</label>
                    <select class="custom-select" id="gr">
                        <option selected>AIN-1-21</option>
                        <option value="1">AIN-2-21</option>
                        <option value="2">AIN-3-21</option>
                        <option value="3">MIN-21</option>
                        <option value="3">WIN-21</option>
                        <option selected>AIN-1-20</option>
                        <option value="1">AIN-2-20</option>
                        <option value="2">AIN-3-20</option>
                        <option value="3">MIN-20</option>
                        <option value="3">WIN-20</option>
                        <option selected>AIN-1-19</option>
                        <option value="1">AIN-2-19</option>
                        <option value="2">AIN-3-19</option>
                        <option value="3">MIN-19</option>
                        <option value="3">WIN-19</option>
                        <option selected>AIN-1-18</option>
                        <option value="1">AIN-2-18</option>
                        <option value="2">AIN-3-18</option>
                        <option value="3">MIN-18</option>
                        <option value="3">WIN-18</option>
                    </select>
                </div>
                <div class="col-md-6">
                    <label for="" class="form-label">Phone number</label>
                    <input type="text" class="form-control" id="">
                </div>
                <div class="col-md-6">
                    <label for="inputPassword4" class="form-label">Password</label>
                    <input type="password" class="form-control" id="inputPassword4">
                </div>
                <div class="col-md-6">
                    <label for="inputPassword4" class="form-label">Confirm password</label>
                    <input type="password" class="form-control" id="inputPassword4">
                </div>
            </form>
        </div>
        <div class="d-flex justify-content-center">
            <div class="row text-center justify-content-center">
                <div class="mb-3" id=''>
                    <button type="button" class="btn btn-success btn-lg px-5" id="reg_btn">Create an account</button>
                    <a class="btn" href="login.html" role="button" id="reg_btn">Log in</a>
                </div>
            </div>
        </div>
    </div>
</body>

</html>